{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% comment %}
    <div id="sidebar">
        <a href="/"><h2>My Blog</h2></a>
        <p>This is my blog. I've written {% total_posts %} posts so far.</p>
    </div>
    {% endcomment %}
</body>
</html>